/* Wrapper */
.bidmain{
    position: fixed;
    z-index: 2;
    background-color: rgba(128, 128, 128, 0.8);
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Main Container */
.bidmaininfo{
    height: 600px;
    width: 1300px;
    background-color: white;
    display: flex;
    outline: 3px solid rgba(128, 128, 128, 1);
    outline-offset: -18px;
    margin: auto;
}

/* Left Side */
.bidmainimg{
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 45px;
    margin-right: 27px;
    width: 450px;
}

.bidmainhead{
    display: flex;
    align-items: center;
}

.cost{
    font-size: 15px;
    font-weight: bold;
}

.remaining{
    font-weight: bold;
}

#time{
    font-size: 14px;
}

.raisebid{
    background-color: #008A65;
    color: white;
    width: 400px;
    height: 60px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

/*Vertical Line*/
.vlinextnd{
    height: 565px;
    width: 2px;
    background-color: rgba(128, 128, 128, 0.5);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
}

/* Bid has been raised */
.bidraised{
    color: rgb(0, 145, 0);
    font-size: 15px;
    font-style: italic;
    margin-left: 80px;
}

/* Table on right */
.biddetails{
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 27px;
    margin-right: 45px;
}

.biddetails h2{
    color: #008A65;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.biddetailstable{
    width: 650px;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-left: 10px;
}

.biddetailstable td{
    border-bottom: 1.5px solid rgb(160, 160, 160);
}

.bidhead{
    font-weight: 550;
    letter-spacing: 0.5px;
    color: rgb(30, 30, 30);
}

/* Cross */
.cross{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 8px;
    right: 10px;
    color: #008A65;
    height: 50px;
}

.cross:hover{
    cursor: pointer;
}


/* Old Class for Cost */
.old{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2.5px;
    text-decoration-style: dashed;
}


/* New Class for Cost */
.updated{
    text-decoration-line: underline;
    text-decoration-color: #008A65;
    text-decoration-thickness: 2.5px;
    text-decoration-style: dashed;
}

