#container{
    display: flex;
    width: 100%;
}

.aster{
    color: red;
}

#contactform{
    width: 70%;
    padding-left: 180px;
    padding-top: 25px;
}

h5{
    margin-bottom: 35px;
}

h3{
    margin-bottom: 10px;
    font-size: 16px;
}

.subject{
    height: 35px;
    width: 320px;
    margin-bottom: 15px;
}

.description{
    min-width: 320px;
    max-width: 320px;
    min-height: 150px;
}

.input{
    border: 1px solid black;
}

.file{
    border: none;
    margin-top: 25px;
    height: 35px;
}

input[type=file]::file-selector-button{
    height: 35px;
    width: 150px;
    background-color: #00a7b3;
    border: 1px solid #00747c;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

hr{
    width: 350px;
    margin-left: 0%;
    margin-top: 25px;
}

h2{
    margin-top: 40px;
    font-size: 24px;
}

.code{
    height: 35px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.num{
    height: 35px;
    width: 260px;
    margin-bottom: 15px;
}

select{
    width: 320px;
    height: 35px;
    font-size: 15px;
}

option{
    font-size: 15px;
}

.privacy{
    margin-top: 50px;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input[type=submit]{
    height: 35px;
    width: 150px;
    background-color: #00a7b3;
    border: 1px solid #00747c;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: #01919b;
}

a{
    font-size: 15px;
}

#FAQ{
    width: 30%;
    border-left: 1.5px solid #008b9594;
    background-color: rgba(211, 211, 211, 0.5);
}

ul, #FAQs{
    margin-left: 35px;
    margin-right: 35px;
    text-align: justify;
}

ul{
    list-style-type: "\1405 \0020";
}

.ques{
    margin-top: 10px;
    margin-bottom: 5px;
}

.ques:hover{
    text-decoration: underline;
    text-decoration-color: #008C95;
    cursor: pointer;
}

.ans{
    font-size: 14px;
    list-style: none;
    display: none;
}